.artist-view-inner-heading
{
    color: #6D5D4C;
    margin-bottom: 0;
    font-size: 15px;
    font-family: AvenirLTProHeavy;
}
.artist-view-inner-subheading
{
    font-family: AvenirLTProHeavy;
    color: #6D5D4C;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: .2px;
    margin-bottom: 10px;
}

.artist-view-common-para{
    font-family: AvenirLTProBook;
    color: #6D5D4C;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: unset;
}