.fourthForm-wrapper .artist-card{
    border : 1px solid rgb(206, 202, 202);
    padding : 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.fourthForm-wrapper .artist-card:hover {
    border:1px solid #333; /* Darken the border color on hover */
    background-color: rgb(247, 247, 247)
}

.fourthForm-wrapper h3 {
    text-align: center;
    margin-bottom: 25px;
}

.fourthForm-wrapper .artist-card .card-icon {
   font-size: 30px;
   padding-right: 10px;
}