.usr-artist-single
{
    background-color: #fcf7f2;
    padding: 60px 0;
}
.usr-artist-single .carousel-root
{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.usr-artist-single .carousel-root .carousel{
    width: fit-content;
}

.usr-artist-single-carousel .carousel-slider img
{
    height:450px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.usr-artist-single-carousel .carousel .carousel-status
{
    display: none;
}
.usr-artist-single-carousel .control-dots
{
    display: none;
}
.usr-artist-single-carousel .carousel .thumbs
{
    transform: none!important;
    display: flex;
    gap:13px;
    flex-direction: column;
    justify-content: space-between;
    padding:0 15px;
    margin-bottom: 0;
}
.usr-artist-single-carousel .carousel .slider-wrapper
{
    border-radius: 18px;

   
}
.usr-artist-single-carousel .carousel .slider-wrapper
{

}

.usr-artist-single .image-gallery-slide.image-gallery-center.usr-single-img img{
    height: 70vh;
    object-fit: contain;
    object-position: top;

}
/* .usr-artist-single .image-gallery-slide-wrapper
{
  
    border-radius: 18px;
    padding: 20px;
    border:1px solid  #6D5D4C;
} */

.usr-artist-single .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .usr-single-thumbnail img{
    height: 80px;
    object-fit: cover;
    object-position: top;
    margin: 3px 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 6.748px 0px rgba(0, 0, 0, 0.19);
    border: 0;
    border-radius: 10px;
    padding: 5px;
}
.usr-artist-single .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .usr-single-thumbnail.active img
{
  border:2px solid #6D5D4C!important;
} 
.usr-artist-single .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus
{
    border: none;
}

.usr-artist-single .image-gallery-left-nav,.usr-artist-single .image-gallery-right-nav {

    bottom: -64px;
    border: 1px solid #88796b;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    box-shadow: none!important;
    display: flex;
    align-items: center;
    justify-content: center;
    top:unset;
    padding: 0;

}

.usr-artist-single .image-gallery-left-nav svg,.usr-artist-single .image-gallery-right-nav svg
{
   height: 16px;
   width: 16px;
   color: #6D5D4C;
}
.usr-artist-single .image-gallery-left-nav svg path
{

}
.usr-artist-single .image-gallery-right-nav svg path
{

}
.usr-artist-single .image-gallery-left-nav
{
  left:43%;
}
.usr-artist-single .image-gallery-right-nav 
{
    right: 43%;
}
.usr-artist-single  .image-gallery-icon
{
   filter: none;
}


.image-gallery-thumbnail
{

    border: 0!important;
}
.usr-artist-single-carousel .carousel .thumbs-wrapper
{
   margin: 0px 0;
}
.usr-artist-single-carousel .carousel .thumb
{
    width: 112px!important;
 height: 90px;
 border-radius: 18px;
background:  #FEFEFE;
border:0;
padding: 4px;
box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.19);

}
.usr-artist-single-carousel .carousel .thumb img{
    border-radius: 18px;
    width: 100%;
    height: 100%;
}
.usr-artist-single-carousel .carousel .thumb.selected,.usr-artist-single-carousel .carousel .thumb:hover
{
    
    border:0;
    border:1px solid #6D5D4C;
}
.usr-artist-single-carousel .carousel .thumb:last-child
{
    margin-right: 0;
  
}
.usr-artist-single-carousel .carousel .control-arrow,.usr-artist-single-carousel .carousel.carousel-slider .control-arrow
{
   opacity: 1;
}
.usr-artist-single-carousel .carousel .control-next.control-arrow:before{
    content: url('../../@core/assets/images/Play.png');
    border: 0;
    position: absolute;
    bottom: 15px;
    right: 35px;
    
}
.usr-artist-single-carousel .carousel .control-prev.control-arrow:before{
    content: url('../../@core/assets/images/Play.png');
    border: 0;
    transform: rotate(180deg);
    position: absolute;
    bottom: 23px;
    left: 35px;
}

.usr-artist-single-carousel .carousel.carousel-slider .control-arrow:hover
{
    background-color: transparent;
}
.usr-artist-single-carousel .carousel.carousel-slider
{
   position: static!important;
}

/* custom-carousel.css */

.custom-thumbs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; /* Make the thumbnails container take the full height of the carousel */
    width: 100px; /* Adjust the width as needed */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .custom-thumbs .thumb {
    margin-bottom: 5px; /* Adjust the margin as needed */
  }


 .usr-artist-single .image-gallery-thumbnails .image-gallery-thumbnails-container{
    cursor: pointer;
    text-align: center;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


 
/* -----------------------usr-artist-single-tab css---------------------- */
.usr-artist-single-tab
{
    padding: 80px 0 0 0;
 
}
.usr-artist-single-tab-wrapper .nav
{
  border-bottom: 1px solid  #DADADA;
}
.usr-artist-single-tab-wrapper .nav .nav-link
{
    font-family:AvenirLTProBook;
    color: #b4a99f;
    font-size: 15px;
    margin-bottom: 7px;
}
.usr-artist-single-tab-wrapper .nav .nav-link.active
{
    background: transparent;
    font-family: AvenirLTProHeavy;
    border-bottom: 1px solid #8C6A54;
    color: #6D5D4C;
    border-radius: 0;
}
.usr-artist-single-tab-wrapper .tab-content
{
    padding: 40px 0 40px 0;
}
.usr-artist-single-tab .usr-artist-single-tab-content-heading
{
    font-family:AvenirLTProHeavy;
    font-size: 25px;
    color:#6D5D4C;
    text-transform: uppercase;
}
.usr-artist-single-tab-content-follow
{
    font-family:AvenirLTProHeavy;
    font-size: 20px;
    color:#6D5D4C;
    margin: 25px 0 15px 0;
}
.usr-artist-single-tab-content-social-box-upper
{
    font-family:AvenirLTProHeavy;   
    font-size: 15px;
    color:#6D5D4C;
}
.usr-artist-single-tab-content-social-box-lower-link
{
    font-family:AvenirLTProBook;
    color:#6D5D4C;
    font-size: 14px;
    
}

.usr-artist-single .usr-single-artist-review-card
{
  padding-right: 35px;
}
.usr-single-artist-review-card-pic
{
  display: flex;
  align-items: center;
}
.usr-single-artist-review-card-pic span
{
  display: block;
}
.usr-single-artist-review-card-pic span.usr-artist-review-name
{
  font-family: AvenirLTProHeavy;
  font-size: 12px;
  letter-spacing: .2px;
  color: #6D5D4C;
}
.usr-single-artist-review-card-pic .pic
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.usr-single-artist-review-card-pic img
{
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.usr-artist-single .slick-slider
{
  position: static!important;
}
.usr-artist-single .slick-current{
   padding-left: 30px!important;
   border-left: 1px solid #DADADA!important;
}
.usr-artist-single .slick-prev, .usr-artist-single  .slick-next
{
  border:1px solid #88796b;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  bottom: 0!important;
  top:unset;
  
}
.usr-artist-single .slick-prev{
    left:44%;
}

.usr-artist-single  .slick-next
{
   right: 44%;
}
.usr-artist-single .slick-prev:before{
  content: url('../../@core/assets/images/prev.png');
 

} 
.usr-artist-single .slick-next:before{
  content: url('../../@core/assets/images/next.png');

}

.usr-artist-single-tab-content.review-tab{
    padding-bottom: 100px;
} 




/* ---------------------------saurabhcss------------------------- */
.usr-detail-card {
    background-color: #fefefe;
    border-radius: 18px;
    padding: 25px;
    position: relative;
    position: sticky;
    top: 100px;
}

.usr-detail-card .usr-artist-details-tag {
    border-bottom: 1px solid #d3cec9;
    padding-bottom: 12px;
}


.usr-detail-card .usr-artist-details-tag .usr-name h3 {
    font-size: 20px;
    font-family: AvenirLTProBook;
    font-style: normal;
    font-weight: 400;
    background-color: #6D5D4C;
    padding: 6px 30px;
    color: #fefefe;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom: 0;


}
.usr-detail-card .usr-artist-details-tag .usr-name h3::before
{
    position: absolute;
    content: '';
    display: block;
    background-color: #6d5d4c;
    left: 0;
    height: 36px;
     top: 26px;
    width: 30px;
}

.usr-detail-card .usr-artist-details-tag .usr-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usr-detail-card .usr-artist-details-tag .usr-name .rating {
    background-color: #6D5D4C;
    padding:9px 10px;
    color: #fefefe;
    border-radius: 12px;
    display: flex;
    font-size: 13px;
    align-items: center;
    font-family: AvenirLTProHeavy;
}

.usr-detail-card .usr-artist-details-tag .usr-name .rating svg {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details {
    padding: 10px 20px 0;
}

.usr-detail-card .usr-artist-charges {
    background-color: #fff;
    margin: 30px 0;
    padding: 25px 20px;
    border-radius: 5px;
    border: 1px solid #d3cec9;
}

.usr-detail-card .usr-artist-charges p,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-globally p {
    margin-bottom: 4px;
}

.usr-detail-card .usr-artist-order {
    background-color: #fff;
    margin: 30px 0;
    padding: 25px 20px;
    border-radius: 5px;
    border: 1px solid #d3cec9;
}

.usr-detail-card .usr-artist-details-tag .usr-rating {
    display: flex;
    justify-content: space-between;
}

.usr-detail-card .usr-artist-order p {
    margin-bottom: 0;
}

.usr-detail-card .usr-artist-details-tag .usr-rating .usr-verifed-svg {
    display: flex;
    align-items: end;
}

.usr-detail-card .usr-artist-order h6,
.usr-detail-card .usr-artist-charges h6,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-verifed-svg p,
.usr-detail-card .usr-artist-charges p span,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-experience p span {
    color: #6D5D4C;
    font-size: 15px;
    line-height: normal;
 
}

.usr-detail-card .usr-artist-charges p span,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-experience p span {
    font-family:AvenirLTProHeavy;
    letter-spacing: 1px;
    margin-left: 5px;
}

.usr-detail-card .usr-artist-charges p,
.usr-detail-card .usr-artist-order p,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-address p,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-globally p,
.usr-detail-card .usr-artist-details-tag .usr-rating .usr-access-details .usr-experience p {
    color: #6D5D4C;
    font-family:AvenirLTProBook;
    font-size: 15px;
   
}
.usr-detail-card .usr-artist-charges p .icon-plus-title
{
    color: #6D5D4C;
    font-family:AvenirLTProBook;
    font-size: 15px;
}
.usr-detail-card .usr-card-booking-button {
    border-top: 1px solid #d3cec9;
    padding: 30px 0 0 0;
}

.usr-detail-card .usr-card-booking-button .usr-btn,.usr-artist-single-modal .usr-btn{
    background-color: #6D5D4C;
    border: none;
    color: #fcf7f2;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: Avenir LT Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}
.usr-artist-single-modal .usr-btn
{
    padding: 10px 80px;
   
    letter-spacing: 1px;
}

.usr-detail-card .usr-card-booking-button .usr-btn:hover,.usr-artist-single-modal .usr-btn:hover {
    background-color: #8C6A54;
}


/* ---------------------usr-artist-single-modal------------- */
.usr-artist-single-modal .usr-artist-booking-heading
{
    color: #6D5D4C;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

.usr-artist-single-modal .usr-artist-single-modal-body
{
    border-bottom: 1px solid #d2c9c1!important;
    border-top:1px solid #d2c9c1!important;
    padding: 45px 0;
}
.usr-artist-single-modal-body-wrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.usr-artist-single-modal-body-wrapper .usr-common-action-btn
{
  text-transform: capitalize!important;
  margin: 0 4px;
  letter-spacing: 1px;
  flex: 0 0 30%;
}
.usr-artist-single-modal-body-wrapper .usr-common-action-btn.active{
    background-color: #6D5D4C!important;
    color: #fefefe;
}
.usr-artist-single-modal .modal-content
{
   background: #fcf7f2;
   padding: 20px;
}
.usr-artist-single-modal-separator
{
    padding: 0 20px;
    border-right: 2px solid #d2c9c1;
}
.usr-artist-single-modal-time-box
{
  padding: 0 20px;
}
.usr-artist-single-modal-time-box-upper
{
    padding: 20px 0px;
    border-bottom: 1px solid #d2c9c1;

}
.usr-artist-single-modal-time-box-upper-bottom
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.usr-artist-single-modal-time-box-upper-bottom .usr-session-btn
{
    flex: 0 0 20%;
    background: #FCF7F2;
    border-radius: 4px;
    padding: 8px 8px;
    font-family: AvenirLTProBook;
    color: #6D5D4C;
    border: 1px solid #6D5D4C;
    font-size: 12px;
}
.usr-artist-single-modal-time-box-upper-bottom .usr-session-btn.active, .usr-artist-single-modal-time-box-btn.active{
    background:#6D5D4C;
    color: #FCF7F2;
}
.usr-artist-single-modal-time-box-heading
{
    font-family:AvenirLTProHeavy;
    color: #6D5D4C;
    font-size: 12px;
    margin-bottom: 5px;
}
.usr-artist-single-modal-time-box-lower
{
    padding: 20px 0px;
    border-bottom: 1px solid #d2c9c1;
   
}
.usr-artist-single-modal-time-box-btn
{
    background-color: transparent;
    letter-spacing: .2px;
    color: #000;
    font-family: AvenirLTProBook;
    border-radius: 4px;
    padding: 8px 8px;
    font-family: AvenirLTProBook;
    display: inline-block;
    border: 1px solid #6D5D4C;
    font-size: 12px;
    flex: 0 0 13%;
}
.usr-artist-single-modal-time-box-btn:hover
{
    background:#8C6A54;
    color: #fff;
}
.usr-artist-single-modal-time-box-btn:hover span
{
    color: #fff;
}
.usr-artist-single-modal-time-box-btn span
{
    font-size: 12px;
    letter-spacing: .2px;
    /* color: #6D5D4C; */
    
    font-family: AvenirLTProBook;
}


/* .usr-artist-single-modal-time-box-btn.active span
{
    font-size: 12px;
    letter-spacing: .2px;
    color: #000;
    opacity: 1;
    font-family: AvenirLTProBook;
} */

.usr-artist-single-brand-logo{
    height: 30px;
}