.usr-certificate{
    height: 300px;
    overflow: hidden;
    border: 1px dashed #8C6A54;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.usr-certificate img{
    object-fit: contain;
    height: 100%;
}

.usr-certificate-title{
    font-size: 14px;
}

.usr-certificate:hover .ar-action-btn-wrapper{
    visibility: inherit;
  }