
.usr-contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}
/* .contact-form .css-stc7tk-MuiInputBase-root-MuiOutlinedInput-root:hover:not(.Mui-focused) .MuiOutlinedInput-notchedOutline
{
    border-color: #8C6A54;
} */
.usr-contact-heading{   
font-family:AvenirLTProHeavy;
font-size: 90px;
line-height: 60px;
color: rgb(109,93,76);
letter-spacing: 2px;
font-weight: 700;
}



.usr-contact-para{
    color: #6D5D4C;
    font-size: 11px;
    font-weight: 400;
    font-family: AvenirLTProBook;
    letter-spacing: 1.3px;
    padding-top: 7px;
}
.usr-contact-main-para{
    color: #6D5D4C;
    font-size: 30px;
    font-weight: 400;
    font-family: AvenirLTProBook;
    letter-spacing: 1.3px;
    padding-top: 27px;
}
.usr-contact-text-para{
    color: #6D5D4C;
    font-size: 25px;
    font-weight: 400;
    font-family: AvenirLTProBook;
    letter-spacing: 1.3px;
    
}

.usr-contact-list-menu{
    display: flex;
    list-style: none;
    padding: 0;
}

.usr-contact-list-menu li{
    margin: 0 5px;
}

.usr-contact-form{
    padding: 0 25px 0 50px;
    position: relative;

}
.usr-contact-form::before{
    content: '';
    position: absolute;
    background-color: #8C6A54;
    width: 1px;
    height: 71%;
    bottom: 70px;
    left: 0;


}
/* .usr-contact-part{
    border-right: 1px solid;
   
} */
.usr-contact-btn{
    border: 1px solid border #6D5D4C;
    border-radius: 6px;
    background: #6D5D4C;
    color: #FCF7F2;
    padding: 10px 0;
    width: 180px;
}

.usr-contact-btn:hover{
    background-color: #6D5D4C;
    color: #FCF7F2;
}
.usr-contact-main-details{
    margin: 80px 60px 0 0;
    padding: 0 0 0 25px;
}

.usr-contact-main-details span{
    color: #6D5D4C;
    font-weight: 500;
}

.usr-contact-main-details svg{
margin-right: 5px;
}



label{
    color: #8C6A54;
}

textarea::placeholder{
    color: #8C6A54;
}

.usr-contact-clendly{
    margin-top: 90px;
    height: 100vh;
}

.usr-contact-meeting-btn {
    border: 1px solid border #6D5D4C;
    border-radius: 6px;
    background: #6D5D4C;
    color: #FCF7F2;
    padding: 10px 0;
    width: 200px;
}
.usr-contact-date{
    padding: 0 0 0 25px;
}
.usr-contact-image{
    padding: 0 25px 0 50px;
}

.usr-contact-image img{
    border-radius: 16px;
}
.usr-contact-calendly-text-para{
    color: #6D5D4C;
    font-size: 30px;
    font-weight: 400;
    font-family: AvenirLTProBook;
    letter-spacing: 1.3px;
    padding-top: 65px;
    margin-bottom: 50px;
}