
.usr-contact-main{
    padding-top: 20px;
    margin-bottom: 55px;
}

.usr-contact-heading{    font-family: Forum-regular;
font-size: 40px;
line-height: 60px;
color: rgb(109,93,76);
letter-spacing: 2px;
}

.usr-contact-para{
    color: #6D5D4C;
    font-size: 13px;
    font-weight: 400;
    font-family: AvenirLTProBook;
    letter-spacing: 1.3px;
}

.usr-contact-list-menu{
    display: flex;
    list-style: none;
    padding: 0;
}

.usr-contact-list-menu li{
    margin: 0 5px;
}

.usr-contact-form{
    padding: 0 50px

}
.usr-contact-part{
    border-right: 1px solid;
    padding-right: 40px;
    align-items: center;
    display: flex;
}
.usr-contact-btn{
    border: 1px solid border #6D5D4C;
    border-radius: 6px;
    background: #6D5D4C;
    color: #FCF7F2;
}

.usr-contact-btn:hover{
    background-color: #6D5D4C;
    color: #FCF7F2;
}

.usr-contact-main-details span{
    color: #6D5D4C;
}

.usr-contact-main-details svg{
margin-right: 5px;
}

.form-contact-control {
    border: 1px solid #8C6A54!important;
    border-radius: 8px!important;
    margin-bottom: 18px;
    color: #6D5D4C!important;
    display: block;
    width: 100%;
    padding: 0.7rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
