

.usr-copy-right-head{
    font-size: 40px;
      font-weight: 400;
      color: #6D5D4C;
      font-family: Forum-regular;
      line-height: 60px;
  }

  .usr-copy-right-para{
    color: #6D5D4C;
    font-family: AvenirLTProBook;
    font-size: 13px;
    letter-spacing: 1.3px;
  }