/* ------------------------home banner css----------------------- */
.usr-home-banner .slick-slide{
    padding: 30px;
}

.usr-home-banner .slick-slide.slick-center{
    padding: 0px;
}

.usr-home-banner .slick-slide img{
    width: 100%;
    
}

.sticky {
    position: sticky;
    top: 0;
    /* Add other styling as needed */
  }
.usr-home-banner {
    padding: 20px 0;
}

.usr-home-banner .usr-home-banner-heading {
    color: #6D5D4C;
    font-family:AvenirLTProHeavy;
    font-size: 30px;
    letter-spacing: 0px;
    position: relative;
  margin-top: 10px;
}

.usr-home-banner .usr-home-banner-tag {
    color: #6D5D4C;
    font-family:AvenirLTProBook;
    font-size: 16px;
    position: relative;
    /* bottom: 35px */
}

.usr-home-banner-action-btn {
    position: relative;
    /* bottom: 30px; */
}


.slick-slider .owl-item .item {
    transform: translate3d(0, 0, 0);
    /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
    transform: scale(0.9);

    transition: all .25s ease-in-out;
    margin: 50px 0;
    padding: 8px;
    /* OVERWRITE PLUGIN MARGIN */
}

.slick-slide .owl-item .item img {
    -webkit-transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -o-transition: 0.3s;
    height: 300px;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
}

.slick-slider .owl-item.center .item img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);

}

.slick-slider .owl-nav {
    text-align: center;
    margin: 40px 0;
}

/* .slick-slider.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px!important;
    object-fit: cover!important;
} */






/* ----------------------home-selection-area css------------------------ */

/* ----------------------artist area------------- */
.usr-artist-area {
    padding-top: 100px;
    padding: 50px 0;
    background: #fcf7f2;
}

.usr-artist-area-wrapper {
    background-color: #fff;
    padding: 50px;
    width: 95%;
    margin: auto;
}

:root {
    --cards: 5;
    --cardHeight: 87vh;
    --cardTopPadding: 20px;
    --cardMargin: 3vw;
}

.usr-artist-area .container.artist-container,
.usr-emerging-artist-wrapper {
    width: 90%;
    margin: 0 auto;
}


.usr-artist-area-card {
    background-color: #fff !important;
    box-shadow: -9px 9.5px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
}

.usr-artist-area-card .usr-expert-pic-name-box,
.usr-expert-pic-charges-box {

    line-height: 1;
    border: 1px solid #dedede;
    /* border-radius: 11px; */
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 10px;
    padding: 0 0 12px 0;
}

.usr-expert-pic-charges-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-right: 0;
    padding-left: 18px;
}

.usr-artist-area-card .usr-expert-pic-name {
    font-family:AvenirLTProBook;
    color: #6D5D4C;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1;
    text-transform: capitalize;
}

.usr-artist-area-card .usr-expert-pic-profile {
    font-family: AvenirLTProLight;
    font-size: 12px;
    color: #8C6A54;
    letter-spacing: -0.4px;
}


.usr-artist-area .expert-pic {
    margin-top: 20px;
    position: relative;
}

.usr-artist-area .expert-pic .usr-expert-certification {
    font-family: AvenirLTProLight;
    position: absolute;
    bottom: 30px;
    width: 165px;
    height: 39px;
    left: 0;
    border-radius: 0px 19.5px 19.5px 0px;
    background: #FEFEFE;
    color: #6D5D4C;

    font-size: 10px;
    display: flex;
    align-items: center;
}

.usr-artist-area .usr-expert-pic-insta-box {
    margin-top: 15px;
    color: #000;

    font-family: AvenirLTProLight;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    /* 185.714% */
    letter-spacing: -0.4px;

}

.usr-artist-area .usr-expert-pic-insta-box svg {
    height: 17px;
    width: 17px;
}

.usr-artist-area .usr-expert-pic-insta-box a {
    color: #000;
    margin-left: 15px;
}


.usr-artist-area #cards {
    list-style: none;
    padding-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);

}

.usr-artist-area #card1 {
    --index: 1;
}

.usr-artist-area #card2 {
    --index: 2;
}

.usr-artist-area #card3 {
    --index: 3;
}

.usr-artist-area #card4 {
    --index: 4;
}

.usr-artist-area #card5 {
    --index: 5;
}

.usr-artist-area .card {
    position: sticky;
    top: 25vh;
    border: 0;
    background: transparent;
    margin-bottom: 25vh;
}

.usr-artist-area .card img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 500px;
}

.usr-artist-area .card .card-body {
    padding: 0;
}

.usr-artist-area #card2 {
    transform: rotate(2deg);

    margin-left: 20px;

}

.usr-artist-area #card3 {
    transform: rotate(4deg);

    margin-left: 40px;
}

.usr-artist-area #card4 {
    transform: rotate(6deg);
    margin-left: 60px;
}

.usr-artist-area #card5 {
    transform: rotate(8deg);
    margin-left: 80px;
}


/* -----------------------usr-overlapping-multiple-section-wrapper -------------- */


.usr-overlapping-multiple-section-wrapper .usr-overlap-section::-webkit-scrollbar {
    width: 0 !important;
}



.usr-overlapping-multiple-section-wrapper .usr-overlap-section:nth-child(2) {
    background-color: #FCF7F2;
  
}

.usr-overlapping-multiple-section-wrapper .usr-overlap-section:nth-child(3) {
    background-color: #fff;
  

}

.usr-overlapping-multiple-section-wrapper .usr-overlap-section:nth-child(4) {
    background-color: #FCF7F2;
    /* height: 100vh; */
}

.usr-overlapping-multiple-section-wrapper .usr-overlap-section:nth-child(5) {
    background-color: #fff;
    /* height: 100vh; */
}

/* --------------user-select-package ------------------- */
.user-select-package {
    padding: 60px 0;
}

.user-select-package .usr-package-card {
    padding: 70px 30px 70px 30px;
    background: #FCF7F2;
    box-shadow: -9px 9.5px 30px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.user-select-package .usr-package-card:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

    background: #fff;
    z-index: 2;
    transition: all .45s ease;
    transform: translateY(50%);
    opacity: 0;
    visibility: hidden;
}




.user-select-package .usr-package-card:hover::before {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.user-select-package .usr-package-card-content {
    position: relative;
    z-index: 3;
}

.user-select-package .usr-package-card-icon {
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
}

.user-select-package .usr-package-card-icon svg {
    height: 50px !important;
    width: 50px !important;
}

.user-select-package .usr-package-card-title {
    font-family:AvenirLTProBook;
    color: #6D5D4C;
    font-size: 30px;
}

.user-select-package .usr-package-card-price {
    display: flex;
    padding: 6px 10px 6px 20px;
    justify-content: left;
    align-items: center;
    background: #8C6A54;
    color: #FEFEFE;
    font-family: AvenirLTProBook;
    font-size: 12px;
    width: 55%;
}



.user-select-package .usr-package-card-para {
    color: #6D5D4C;
    font-family: AvenirLTProBook;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.user-select-package .usr-book-now {
    font-family: AvenirLTProLight;
    display: flex;
    padding: 12px 30px 12px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #6D5D4C;
    color: #6D5D4C;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-top: 10px;

    transition: .2s;
}


.user-select-package .usr-book-now:hover {
    background-color: #6D5D4C;
    color: #fefefe;
}

/* ---------------------------usr-featured-artist-------------------------- */
.usr-featured-artist {
    padding: 60px 0;
}



.usr-featured-artist-card {
    position: relative;

}

.usr-featured-artist-card {
    position: relative;
    width: 100%;
    height: 410px;
    background: #FCF7F2;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
}

.usr-featured-artist-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clipPath: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.usr-featured-artist-card:hover:before {
    clipPath: circle(400px at 50% 50%);
}

.usr-featured-artist-card:after {
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.usr-featured-artist-card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100%;
    height: 180px;
    transition: 0.5s;
}

.usr-featured-artist-card:hover .imgBx {
    top: 0;
    transform: translateY(0%);
}

.usr-featured-artist-card .imgBx img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 160px;
    border-radius: 50%;
    height: 160px;
    transition: .5s all ease-in-out;
    object-fit: cover;
}

.usr-featured-artist-card:hover .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    width: 100%;
    height: auto;
}

.usr-featured-artist-card .name {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.usr-featured-artist-card:hover .name {
    height: 150px;
}

.usr-featured-artist-card .name h2 {
    position: relative;
   font-family:AvenirLTProBook;
    color: #6D5D4C;
    font-size: 26px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.usr-featured-artist-card .name .profession {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
}

.usr-featured-artist-card .name .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

/* .container .card:hover .name .profession {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
} */

.usr-featured-artist-card:hover .name .desc {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.usr-featured-artist-card .name .profession h3 {
    color: #6D5D4C;
    letter-spacing: 2px;
    font-family: AvenirLTProLight;
    font-size: 14px;
    color: #8C6A54;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.usr-featured-artist-card .name .desc p {
    color: #6D5D4C;
    letter-spacing: 2px;
    color: #6D5D4C;
    font-family: AvenirLTProBook;
    font-size: 11px;
    padding: 0 20px;
    letter-spacing: 1.3px;
}

.usr-featured-artist-card .name .profession span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111111;
    background: #6D5D4C;
    margin: 0 5px;
    transition: 0.5s;
    color: #111111;
    border-radius: 4px;
    cursor: pointer;
}

.usr-featured-artist-card .name .profession span:hover {
    background: #9BDC28;
}

.usr-featured-artist-card .name .desc span {
    width: 20px;
    height: 20px;
    background: #FF0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.usr-featured-artist-card .name .desc span:nth-child(2) {
    background: #9BDC28;
}

.usr-featured-artist-card .name .desc span:nth-child(3) {
    background: #03A9F4;
}

.usr-featured-artist-card .name .desc span:nth-child(4) {
    background: #E91E63;
}

.usr-featured-artist-card .name a {
    display: inline-block;
    padding: 10px 20px;
    background: #6D5D4C;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.usr-featured-artist-card:hover .name a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.usr-featured-artist-card .image {
    width: 320px;
}

.usr-featured-artist-card .prizeButton {
    display: flex;
    justify-content: space-around;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.usr-featured-artist-card .prizeButton .prize span.usr-charges,
.usr-featured-artist-card .prizeButton .prize span.usr-price {
    display: block;
    margin-right: 10px;
    font-family: AvenirLTProLight;
    font-size: 12px;
    color: #8C6A54;
    letter-spacing: 1px;
}

.usr-featured-artist-card .prizeButton .prize span.usr-price {
    font-family: AvenirLTProHeavy;
    letter-spacing: .7px;
}


.usr-featured-artist-card .prizeButton .reserveButton .rButton {
    border-radius: 20px;
    background-color: #6D5D4C;
    padding: 5px 10px;
    border: 0px;
    color: #fff;
    letter-spacing: .35px;
    color: #FEFEFE;
    font-family: AvenirLTProLight;
    font-size: 12px;
    text-transform: uppercase;

}


/* ----------------------blog--------------- */


.usr-recent-blog {
    padding: 60px 0 0 0;
    background-color:#fcf7f2;
}
.usr-recent-blog .usr-blog-wrapper
{
    width: 95%;
    background-color: #fff;
    margin: auto;
    padding:0 0 100px 0;
}
.usr-recent-blog .usr-common-heading
{
    position: relative;
    top:60px;
}
.usr-recent-blog-heading {
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    line-height: 60.72px;
    color: #6D5D4C;
}

.blog-section-card {
    padding-top: 10px;
}

.usr-blog-main-content-wrapper {
    padding: 20px;
}

.usr-blog-main-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 20px;
    border-radius: 0;
    border: 1px solid #8C6A54;
}

.usr-blog-main-content img {
    height: 270px;
    object-fit: cover;
    width: 100%;
}

.usr-blog-main-content .usr-card-body {
    padding: 10px 0 0 0;
}

.usr-blog-main-content .usr-blog-heading {

    font-size: 20px;
    line-height: 27.6px;
    color: #6D5D4C;
    font-family:AvenirLTProBook;
    padding-top: 10px;

}

.usr-blog-main-content .usr-blog-para {

    color: #6D5D4C;
    font-family: AvenirLTProBook;
    min-height: 40px;
    font-size: 13px;
    letter-spacing: 1.3px;
}

.usr-blog-main-content .usr-blog-date {
    font-size: 12px;
    font-family: AvenirLTProLight;
    line-height: 14.4px;
    color: #6D5D4C;


}

.recent-blog-main-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.recent-blog-btn {
    border: 1px solid #6D5D4C;
    border-radius: 5px;
    padding: 17px 30px 15px 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.blog-card-icon {
    display: flex;
    margin-top: 10px;
    color: #6D5D4C;
    font-family: AvenirLTProLight;
    font-size: 14px;

}


/* -------------------------------------circular carosel css------------------- */
.usr-emerging-artist-carousel {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.usr-emerging-artist-carousel-item {
    --items: 7;
    --width: clamp(240px, 20vw, 380px);
    --height: clamp(338.8px, 30vw, 520px);
    --x: calc(var(--active) * 400%);
    --y: calc(var(--active) * 100%);
    --rot: calc(var(--active) * 120deg);
    /* --opacity: calc(var(--zIndex) / var(--items) * 3 - 2); */
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 20px;
    top: clamp(45%, 50vw, 50%);
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-origin: 125% 325%;
    /* box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2); */
    background-color: #ffffff00;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
}

.usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    border-radius: 12px;
    background: #F5EEEA;
    text-align: center;
}

.usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box p {
    font-family: AvenirLTProHeavy;
    color: #625B5A;
    text-align: center;

    font-size: 18px;


    line-height: 26px;
    letter-spacing: -0.4px;
}

.usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.5));
}

.usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box img {
    height: 300px !important;
    width: 100% !important;
    border-radius: 20px;
    object-fit: cover;
    padding: 14px;
}

.custom-cursor {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: auto;
   mix-blend-mode: difference;
    width: 80px;
    margin-left: -40px;
    margin-top: -40px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background-color: #ffcd84; */
    transition-property: transform, scale, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    scale: 0.3;
    z-index: 10000;
}

.custom-cursor--link {
    scale: 1;
}

.custom-cursor--init {
    opacity: 1;
}



/* -----------------------------usr-emerging-artist----------- */
.usr-emerging-artist {
    background-color: #fcf7f2;
    padding: 60px 0;

}

.usr-emerging-artist-wrapper {
    background: #fff;
    width: 95%;
}
.usr-emerging-artist .usr-common-heading
{
    position: relative;
    top:60px;
}


/* ------------------------media query------------------ */


@media (min-width:1921px) and (max-width: 2561px) {

 
}


@media (min-width:1536px) and (max-width: 1920px) {


}


@media (max-width: 1399.98px) {
  
}


@media (max-width: 1199.98px) {
  

}


@media (max-width: 1024.98px) {

}

@media (max-width: 991.98px) {
   
    .usr-home-banner .slick-slide
    {
        padding: 20px;
    }
    .usr-home-banner .usr-home-banner-heading
    {
        font-size: 23px;
        margin-bottom: 0;
    }
    .usr-home-banner .usr-home-banner-tag
    {
        font-size: 14px;
    }
    .usr-artist-area-wrapper
    {
        width: 55%;
        padding-bottom: 0;
    }
    .usr-artist-area-card .usr-expert-pic-name
    {
        font-size: 18px;
    }
    .usr-artist-area-card .usr-expert-pic-profile
    {
        font-size: 11px;
    }
    .usr-artist-area .expert-pic .usr-expert-certification
    {
        width: 160px;
        height: 40px;
    }
    .usr-artist-area .card
    {
        margin-bottom: 0;
    }
    .user-select-package .usr-package-card
    {
        padding: 40px 20px 40px 20px;
        margin-bottom: 20px;
    }
    .user-select-package .usr-package-card-icon
    {
        margin-bottom: 10px;
    }
    .user-select-package .usr-package-card-icon svg

    {
        height: 43px!important;
        width: 43px!important;
    }
    .user-select-package .usr-package-card-title
    {
        font-size: 26px;
    }
    .user-select-package .usr-package-card-price
    {
        font-size: 11px;
         width: 80%;
    }
    .user-select-package .usr-package-card-para

    {
        font-size: 12px;
    }
    .user-select-package .usr-book-now
    {
        padding: 8px 20px 8px 20px;
        font-size: 9px;
    }

    .usr-featured-artist-card
    {
        margin-bottom: 20px;
    }
    .usr-featured-artist-card .name h2

    {
        font-size: 22px;
    }
    .usr-featured-artist-card .name .profession h3
    {
        font-size: 13px;
    }
    .usr-featured-artist-card .prizeButton .prize span.usr-charges,
.usr-featured-artist-card .prizeButton .prize span.usr-price
{
    font-size: 11px;
}
.usr-featured-artist-card .prizeButton .reserveButton .rButton svg{
    height: 12px;
    width: 12px;
}
.usr-featured-artist-card .prizeButton .reserveButton .rButton {
    font-size: 10px;
}
.usr-blog-main-content
{
    margin: 0;
    padding: 10px;
    height: 395px;
    position: relative;
}
.blog-card-icon
{
    position: absolute;
    bottom: 12px;
}
.usr-blog-main-content .usr-blog-para {
  font-size: 12px;
}
.usr-blog-main-content img
{
    height: 200px;
}
.usr-blog-main-content-wrapper
{
    padding: 5px;
}
.usr-blog-main-content .usr-blog-heading
{
    font-size: 18px;
    text-transform: capitalize;

}

}



@media (max-width: 820.98px) {
    .usr-artist-area-wrapper
    {
        width: 65%;
    }
}

@media (max-width: 800.98px) {
    .usr-artist-area-wrapper
    {
        width: 70%;
    }
}



  @media (max-width: 767.98px) {
    .usr-home-banner .slick-slide
    {
        padding: 15px;
    }
    .usr-home-banner .usr-home-banner-heading
    {
        font-size: 20px;
        margin-bottom: 0;
    }
    .usr-home-banner .usr-home-banner-tag
    {
        font-size: 12px;
    }
    .usr-artist-area-wrapper
    {
        width: 85%;
    }
    .user-select-package .usr-package-card-price
    {
        width: 40%;
    }
    .usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box img
    {
        height: 250px!important;
    }
    .usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box

    {
        height: 290px!important;
    }
    .usr-emerging-artist-carousel-item .usr-emerging-artist-carousel-box p
    {
        font-size: 18px;
    }

  }

  /* -------------------footer----- */
  









@media (max-width: 630.98px) {
  
}

@media (max-width: 575.98px) {

    .usr-artist-area-wrapper
    {
        width: 100%;
    }
    .usr-artist-area-card .usr-expert-pic-name {
        font-size: 17px;
    }
    .usr-artist-area .card img
    {
        height: 250px;
    }
    .usr-artist-area .expert-pic .usr-expert-certification
    {
        height: 35px;
    }
    .user-select-package .usr-package-card {
        width: 80%;
        margin: 0 auto 20px auto;
    }
    .user-select-package .usr-package-card-title
    {
        font-size: 24px;
    }
    .user-select-package .usr-package-card-price
    {
        width: 40%;
    }
    .usr-featured-artist-card
    {
        height: 450px;
        width: 80%;
        margin:20px auto 20px auto;
    }

}

@media (max-width: 516.98px) {
 
}

@media (max-width: 483.98px) {
 

  
}

@media (max-width: 481.98px) {
 
    .usr-blog-main-content
    {
        width: 80%;
        margin: auto;
    }
  
}




@media (max-width: 460.98px) {
    .usr-artist-area-wrapper
    {
        padding: 50px 20px;
    }
 
    .usr-artist-area-card
    {
        padding: 20px 10px;
    }
    .usr-artist-area-card .usr-expert-pic-name
    {
        font-size: 14px;
    }
    .usr-artist-area-card .usr-expert-pic-profile
    {
        font-size: 10px;
    }
    .usr-artist-area .card img
    {
        height: 230px;
    }
    .usr-artist-area .usr-expert-pic-insta-box svg
    {
        height: 14px;
        width: 14px;
    }
    .usr-artist-area .usr-expert-pic-insta-box a {
      margin-left: 7px;
    }
    .user-select-package .usr-package-card-price
    {
        width: 45%;
    }
}



@media (max-width: 440.98px) {
    .usr-featured-artist-card .name h2
    {
        font-size: 20px;
    }

    .usr-featured-artist-card
    {
        height:400px;
    }


}

@media (max-width:410.98px) {
    .user-select-package .usr-package-card-price
    {
        width: 50%;
    }
}

@media (max-width:390.98px) {
  
}

@media (max-width: 380.98px) {
 
}

