.usr-all-blog .all-blog-top-heading{
    font-size: 90px;
    color: #6d5d4c;
}

.usr-blog-section-card-content{
    padding: 15px;
    background: #fff;
   
}

.usr-all-blog .usr-blog-content{
   
    position: relative;
}


.usr-blog-date{
    height: 60px;
    width: 50px;
    background-color: #FCF7F2;
    top: 0px;
    position: absolute;
    left: 5px;
    color: #6D5D4C;
    font-size: 13px;
    padding: 20px 3px 22px 3px 
}

.usr-all-blog .usr-blog-content .usr-all-blog-heading{
    font-size: 13px;
    line-height: 22.5px;
    color: #6D5D4C;
    font-family: AvenirLTProHeavy;
    padding-top: 10px;
}
.usr-all-blog .blog-section-card .blog-card-icon{
   font-size: 13px;
   font-family:AvenirLTProLight;
}
.usr-all-blog .usr-blog-content .usr-all-blog-para{
    color: #6D5D4C;
    font-family: AvenirLTProBook;
    font-size: 13px;
    letter-spacing:0;
}


@media screen and (max-width: 767.98px)
{

    .usr-all-blog .all-blog-top-heading{
        font-size: 60px;
        color: #6d5d4c;
    }

    /* .usr-blog-section-card-content{
        padding: 15px;
        background: #fff;
        margin-bottom: 26px;
    } */
}