/* Header */
.artist-wrapper-ar {
  /* height: 100vh; */
  position: relative;
  /* padding-bottom: 90px; */
  /* overflow-y: auto; */
}

.artist-wrapper-ar::-webkit-scrollbar {
  width: 0;
  /* Set the width to 0 */
}

.artist-header {
  /* position: sticky; */
  /* top: 0; */
  /* width: 100%; */
  /* z-index: 999; */
  /* background-color: #fff; */
  /* box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.03); */
  padding: 25px 50px 0 50px;
}

.artist-footer-ar {
  border: 0;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  background: #fcf7f2;
  padding: 0;
}

/* .artist-header .became-artist {
  padding: 10px 0px 10px 0px;
} */

.artist-header .save-exit-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.artist-header .save-exit-button button {
  border-radius: 6px;
  background-color: transparent;
  color: #6d5d4c;
  border: 1px solid #6d5d4c;
  text-transform: uppercase;
  padding: 7px 50px !important;
}

.artist-header .save-exit-button button:hover {
  background-color: #6d5d4c;
  color: #fff;
}

.about .selected {
  border: 2px solid #8C6A54;
  font-weight: 400;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fefefe;

}

.artist-card {
  padding: 10px 20px;
}

.about-images {
  height: 80px;
}

.card-title {
  padding: 10px 0px;
  font-weight: 600;
  font-size: 16px;
}

.about .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 12%,
      rgba(109, 93, 126, 0.3) 12%,
      rgba(109, 93, 76, 0.3) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 0.3) 31%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

/*  */

.artist-registration .artist-landing-page {
  align-items: center;
}

.artist-registration .get-started-div {
  display: flex;
  justify-content: end;


}

.artist-registration .artist-steps-heading {
  padding: 30px 0px 30px 10px;

}



/* Button */

.my-componenet-button .get-started-button {
  padding: 12px 24px !important;
  background-color: #8C6A54;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.my-componenet-button .get-started-button:hover {
  background-color: transparent;
  color: #6d5d4c;
  border: 1px solid #6d5d4c;
}


/* Footer */
.footer {
  background-color: #fcf7f2;
}

.footer .footer-next-button {
  display: flex;
  justify-content: end;
  padding-right: 43px;
}


/* About */

.about .border-highlight .artist-card {
  border: 2px solid #8C6A54;
  animation: blinkBorder 0.5s infinite alternate;
}

@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }

  100% {
    border-color: #8C6A54;
  }
}

/* .about{
    padding-top: 3rem;
    padding-bottom: 6rem;
} */
.about .artist-card {
  font-weight: 400;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #8C6A54;
  border: 2px solid #8C6A54;
}

.about .artist-card:active {
  transform: scale(0.96);
}



.about .thirdform-heading {
  text-align: center;
  margin-bottom: 25px;
}

.about .artist-card:hover {
  background-color: #fefefe;
  /* Darken the border color on hover */
}




/* describe yourself */

.describe-yourself .border-highlight .artist-card {
  border: 2px solid #8C6A54;
  animation: blinkBorder 0.5s infinite alternate;
}

.describe-yourself .describe-yourself-allProducts {
  overflow-y: scroll;
  height: 70vh;
}

.describe-yourself .describe-yourself-allProducts::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(109, 93, 76, 0.3);
  border-radius: 20px;
}

.describe-yourself .describe-yourself-allProducts::-webkit-scrollbar-thumb {
  background-color: rgba(109, 93, 76, 1);
  border-radius: 20px;
}


.describe-yourself .artist-card {
  /* border: 1px solid rgb(206, 202, 202); */
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.describe-yourself .artist-card:hover {
  /* border: 1px solid #8C6A54; */
  /* Darken the border color on hover */
  background-color: #fefefe;
}

.describe-yourself .artist-card:active {
  transform: scale(0.96);
}

.card-icon img {
  height: 100px !important;
}

.describe-yourself h3 {
  text-align: center;
  margin-bottom: 25px;
}


.describe-yourself .artist-card .card-body {
  padding: 15px 8px 10px 13px;
}

.describe-yourself .selected {
  /* border: 1px solid #8C6A54; */
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fefefe;
}

.describe-yourself .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 20%,
      rgba(109, 93, 76, 0.3) 20%,
      rgba(109, 93, 76, 0.3) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 0.3) 31%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

/*---------- Address css------------ */
.map-card-wrapper {
  position: relative;
  margin: 25px 0 30px 0;
}

.card-field {
  position: absolute;
  top: 10%;
  z-index: 2;
  left: 20px;
  right: 20px;
  padding: 10px;
}

.autocomplete-dropdown-container {
  width: 100%;
  background-color: #ffffff;
  /* padding: 5px 5px 5px 5px; */
}



/* ========= Upload Images=========== */

.cover-image .upload-image {
  display: grid;
  justify-content: center;
  padding: 120px 120px;
  border: 1px dotted black;
}

.multipale-image-display {
  padding: 50px 50px;
  border: 1px dotted black;
  margin-bottom: 20px;
}

.blog-image-display {
  padding: 50px 50px;
  border: 1px dotted black;
  margin-bottom: 20px;
}

/* Description */

.description-box-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

/* Insight [age */

.insight-wrapper .insight-card {
  display: flex;
  justify-content: space-between;
}

.insight-wrapper .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 55%,
      rgba(109, 93, 76, 0.3) 55%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

/* Add your are best in  */

.best-in-wrapper .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 55%,
      rgba(109, 93, 76, 0.3) 55%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%) !important;
}

/* Add your are best in  */

.plus-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #8C6A54;
  font-size: 20px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  /* Remove the default button outline */
}

.plus-button:hover {
  background-color: #333;
  color: #fff;
}


/* CompleteKYC.css */

.image-upload-container {
  display: flex;
  justify-content: space-between;
}

.image-upload {
  margin-bottom: 20px;
  text-align: center;
}

.image-preview {
  position: relative;
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-preview button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  border-radius: 50%;
}



/* -----------------artist-progress-component-------- */
.progress-component-action-btn {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #dddddd;
  transition: .3s;
}

.progress-component-action-btn:hover {
  border-color: #000;
  background-color: #f7f7f7;
}

.progress-component-action-btn .progress-component-action-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: #ebebeb;
  margin-right: 20px;
  border-radius: 4px;

}

.progress-component-action-btn .progress-component-action-btn-icon svg {
  height: 30px;
  width: 30px;
}

.progress-component-action-btn-title {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.showbutton-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: '50%';
}

.updateImg-wrapper {
  position: relative;
  cursor: pointer;
}

.reset-edit-btn {
  cursor: pointer;
}

.updateImg-wrapper:hover .showbutton-image {
  display: flex;
}


/* ----------------------about-skills-ar----------------- */
.about-skills-ar .about-skills-ar-col,
.about-skills-ar-2 .about-skills-ar-col-2,
.about-skills-ar-3 .about-skills-ar-col-3 {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-skills-ar-col .about-skills-ar-wrapper,
.about-skills-ar-col-2 .about-skills-ar-wrapper-2,
.about-skills-ar-col-3 .about-skills-ar-wrapper-3 {
  width: 500px;
}

.about-skills-ar-para {
  font-size: 15px;
}

.about-skills-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, .3) 0%,
      rgba(109, 93, 76, .3) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 0.3) 31%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

.about-skills-ar-2 .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 0.3) 31%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

.about-skills-ar-3 .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

/* .about-skills-ar img {
  height: 300px;
  object-fit: contain;
} */

.drop-shadow-delete {
  position: relative;
  right: 35%;
}

.drop-shadow-delete {
  display: none;
}

img:hover .showbutton-image.drop-shadow-delete {
  display: flex;
}

/* .dynamic-blog-img{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms;
  } */

.search-container-head .search-bar-wrapper input.form-control:focus+button {
  display: block;
  /* Add any additional styles you want for the focused state */
}

.use-current-location:hover {
  display: block;
}

.dynamic-img-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 300ms;
}

.dynamic-img-wrapper img {
  height: 200px;
}

.dynamic-img-wrapper .dropshadow-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(252 247 242 / 72%);
}

.dynamic-img-wrapper .dropshadow-gallery svg {
  height: 32px;
  width: 32px;
  color: #8C6A54;
}

.dynamic-img-wrapper .dropshadow-gallery:active {
  background-color: rgb(252 247 242 / 72%);
  border: 0;
}

.dynamic-img-wrapper:hover button {
  display: flex !important;
}

.dynamic-img-wrapper:hover .kyc-upload-btn {
  display: flex !important;
  left: 50px;
}


.custom-add-card {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #8C6A54 !important;
  ;
}

.price-ar .price-ar-wrapper {
  height: 52vh;
  align-items: center;
  justify-content: center;
}

.price-ar .price-wrapper {
  width: 400px;
}

.price-ar .price-wrapper .price-ar-current input {
  font-size: 20px;
  background-color: #fefefe;
  border: none;
  color: #8C6A54;
  padding: 15px 5px;
  margin-bottom: 20px;
}

.price-ar .price-ar-total-tax {
  background-color: #fefefe;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}

.price-ar .price-ar-total-tax .total-price {
  background-color: #fefefe;
  border: none;
  color: #8C6A54;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  width: 300px;
}

.price-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 77%,
      rgba(109, 93, 76, 0.3) 77%,
      rgba(109, 93, 76, 0.3) 100%);
}

.KYC-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 85%,
      rgba(109, 93, 76, 0.3) 85%,
      rgba(109, 93, 76, 0.3) 100%);
}

.review-request-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 85%,
      rgba(109, 93, 76, 1) 85%,
      rgba(109, 93, 76, 1) 100%);
}

.customized-gallery .gallery-row {
  width: 50%;
  margin: auto;
}

.customized-gallery .gallery-row .custom-index-dropzone,
.custom-add-more-files-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  border: 1px dotted #8C6A54;
  cursor: pointer;
}

.gallary-no-error {
  border: 1px dotted #8C6A54;
}

.gallary-error {
  /* border: 1px solid #ff3333; */
  border: 2px solid #8C6A54;
  animation: blinkBorder 0.5s infinite alternate;
}


.uploading {
  position: relative;
}

.uploading img {
  opacity: 0.3;
  cursor: not-allowed;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  object-fit: cover;
}

.circular-progressbar {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 36px;
  z-index: 1;
}

.customized-gallery-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 38%,
      rgba(109, 93, 76, 0.3) 38%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

.achivements-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 85%,
      rgba(109, 93, 76, 0.3) 85%,
      rgba(109, 93, 76, 0.3) 100%);
}

.last-step-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 95%,
      rgba(109, 93, 76, 0.3) 95%,
      rgba(109, 93, 76, 0.3) 100%);
}

.review-request-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 1) 31%,
      rgba(109, 93, 76, 1) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 1) 70%,
      rgba(109, 93, 76, 1) 100%);
}

/* Location css added by shubham  */

.search-box-error {
  /* border: 1px solid #ff3333; */
  border: 2px solid #8C6A54;
  animation: blinkBorder 0.5s infinite alternate;
}


.location-wrapper {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.your-location-ar .horizontal-bar {
  background: linear-gradient(to right,
      rgba(109, 93, 76, 1) 0%,
      rgba(109, 93, 76, 1) 30%,
      rgba(109, 93, 76, 0) 30%,
      rgba(109, 93, 76, 0) 31%,
      rgba(109, 93, 76, 0.3) 31%,
      rgba(109, 93, 76, 0.3) 69%,
      rgba(109, 93, 76, 0) 69%,
      rgba(109, 93, 76, 0) 70%,
      rgba(109, 93, 76, 0.3) 70%,
      rgba(109, 93, 76, 0.3) 100%);
}

.search-container-head {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.search-container-head .search-bar-wrapper input.form-control {
  padding: 14px;
  border: 0;
  box-shadow: none;
}

.search-container-head .search-bar-wrapper .suggestionList {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 15px 0px;
  margin-top: 15px;
  background: white;
  list-style: none;
  z-index: 1;
}

.search-container-head .search-bar-wrapper .suggestionList .suggestion-item {
  padding: 5px 20px;
  cursor: pointer;
}

.search-container-head .search-bar-wrapper .suggestionList .suggestion-item:hover {
  background-color: white;
}

.search-container-head .search-bar-wrapper .suggestionList .suggestion-item:hover .suggestion-heading,
.search-container-head .search-bar-wrapper .suggestionList .suggestion-item:hover .suggestion-desc {
  color: #8C6A54;
}

.search-container-head .search-bar-wrapper .suggestionList .suggestion-item .suggestion-heading {
  font-size: 14px;
  font-weight: 500;
  color: #8C6A54;
  margin: 0;
}

.search-container-head .search-bar-wrapper .suggestionList .suggestion-item .suggestion-desc {
  font-size: 12px;
  font-weight: 400;
  color: #8C6A54;
  margin: 0;
}

.search-container-head .search-bar-wrapper .location-icon {
  background-color: white !important;
  border: 0;
  padding: 0px 20px;
}

.search-container-head .search-bar-wrapper .location-icon svg {
  height: 42px;
}

.use-current-location {
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 12px;
  margin-top: 6px;
  font-weight: 500;
  display: none;
}

.use-current-location:hover,
.use-current-location:active {
  background: white !important;
}

.kyc-upload-btn {
  position: absolute !important;
  left: 0;
}


.custom-kyc-img-wrapper {
  position: relative;
}

.custom-kyc-img-wrapper:hover .custom-kyc-update-dropshadow-box {
  display: flex;
  font-size: 50px;
  color: #8C6A54;
  cursor: pointer;
}

.custom-kyc-img-wrapper .custom-kyc-update-dropshadow-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.usr-gallary-dropdown::before {
  content: none !important;
}

.custom-kyc-img-wrapper .custom-kyc-update-dropshadow-box a {
  color: inherit;
}

.custom-kyc-img-wrapper .custom-kyc-update-dropshadow-box svg:hover {
  filter: brightness(1.2);
}

/* celebration page css */

.celebration-page-wrapper {
  height: 100vh;
  overflow: hidden;
}

.artists-detail-para {
  font-size: 15px;
}

.artists-detail-heading {

  font-size: 16px;
  font-weight: 500;

}

/*  Implement checkbox in multi select */
.multi-language-select .MuiCheckbox-root {
  display: none !important;
}

/*---------congratulation section--------*/


.congratulation-page-wrapper {
  padding: 40px 0 40px 0;
}

.congratulation-hero {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.congratulation-heading {
  font-size: 30px;
  font-weight: 500;
  color: #6D5D4C;
  text-align: center;
  text-transform: uppercase;
}

.congratulation-para {
  font-size: 15px;
  color: #6D5D4C;
  text-align: center;

}

.congratulation-button {
  background: #6D5D4C;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
}

.congratulation-button:hover {
  background: #6D5D4C;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  width: 150px;
}

.congratulation-hero {
  border-top: 1px solid rgba(109, 93, 76, .3);
  border-bottom: 1px solid rgba(109, 93, 76, .3);
}

/* New css */

.artist-inner-heading {
  color: #6D5D4C;
  font-family: AvenirLTProBook;
  white-space: nowrap;
}

.about-skills-ar-para {
  font-family: AvenirLTProBook;
  font-size: 14px;
  color: #6D5D4C;
}

.artist-inner-subheading {
  font-family: AvenirLTProBook;
  color: #6D5D4C;
}


.custom-kyc-update-dropshadow-box {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #6D5D4C;
}

.btn-secondary {
  color: #fff;
  background-color: #6D5D4C;
  border-color: #6D5D4C;
  margin: 5px;
  padding-bottom: 14px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #6D5D4C;
  border-color: #6D5D4C;
}


.custom-kyc-update-dropshadow-box .dropdown-toggle {
  border-radius: 20px;
  background-color: #fff;
  color: #6D5D4C;
}

.custom-kyc-update-dropshadow-box .dropdown-toggle:hover,
.custom-kyc-update-dropshadow-box .dropdown-toggle:focus {
  background-color: #fff;
  color: #6D5D4C;
  border-color: #6D5D4C;
}


.custom-kyc-update-dropshadow-box .dropdown-toggle::after {
  display: none;
}

.custom-kyc-update-dropshadow-box .dropstart::after {
  display: none;

}

.custom-kyc-update-dropshadow-box .dropdown-toggle {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}