
footer
{
  background:  #FCF7F2;
  padding: 25px 0 25px 0;
  border-top: 1px solid #d3cec9;
}
.usr-footer{
    display: flex;
    justify-content: space-between;
}

.usr-footer ul{
    padding-left: 0;
    margin-bottom: 0;
}

.usr-icon-list{
    display: flex;
    list-style: none;
}

.usr-footer-menu{
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer-link{
  color:  #6D5D4C;
  font-family:AvenirLTProBook;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-link:hover
{
  color:  #6D5D4C;
}
.usr-footer-menu-list
{
  display: flex;
    list-style: none;
}

.footer-link.active{
  font-family:AvenirLTProHeavy;
}


.usr-footer-menu-list li,.usr-icon-list li,
.usr-footer-last-icon div,.usr-footer-last-icon div img{
    margin: 0 5px;
}

.usr-footer-menu-list a{
    color: #6D5D4C;
    text-decoration: none;

}

.usr-footer-last-icon{
    display: flex;
    justify-content: end;
}

.usr-footer-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #6D5D4C;
}

.usr-footer-last-icon a{
    text-decoration: none;
}

.usr-footer-para{
    text-align: center;
    margin-top: 10px;
    color: #6D5D4C;
    font-weight: 400;
    font-size: 14px;
}



/*------ Media query-----*/

@media screen and (max-width: 767.98px){

    .usr-footer-menu-list li{
        margin: 0 6px;
    }

    .footer-link{
        color:  #6D5D4C;
        font-family:AvenirLTProBook;
        font-size: 10px;
        text-transform: uppercase;
      }
}