/* Header */
.artist-wrapper-ar
{
    height: 100vh;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow-y: auto;
}

.artist-wrapper-ar::-webkit-scrollbar{
    width: 0; /* Set the width to 0 */
  }

.artist-header{
    background-color: #8C6A54;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.artist-footer-ar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fcf7f2;
}
.artist-header .became-artist{
    margin-bottom:  15px;
    padding: 15px 0px 15px 0px;
}

.artist-header .save-exit-button {    
    display: flex;
    justify-content: end;
}

.artist-header .save-exit-button button {
    background-color: #ffffff;
    border-radius: 15px;

}
.about .selected{
    border: 2px solid #8C6A54!important;
    font-weight: 400;
    height: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    background-color: #c8b29d4a;
    
}

.artist-card{
    padding: 20px;
}

.about-images{
    height: 80px;

}

.card-title{
    padding: 10px 0px;
    font-weight: 600;
    font-size: 16px;
}

/*  */

.artist-registration .artist-landing-page {
align-items: center;
}

.artist-registration .get-started-div {
    display: flex;
    justify-content: end;
    

}

.artist-registration .artist-steps-heading {
    padding: 30px 0px 30px 10px;

}



/* Button */

.my-componenet-button .get-started-button {
padding: 12px 24px !important;
background-color: #8C6A54;
border-radius: 25px;
    border: none;
    color: #ffffff;
    
}


/* Footer */
.footer{
    background-color: #fcf7f2;
}

.footer .footer-line {
    height: 3px;
   background-color: #8C6A54;
   margin-bottom: 20px;
}

.footer .footer-next-button{
    display: flex;
    justify-content: end;
    padding-right: 43px;
}


/* About */

.about{
    padding-top: 7rem;
    padding-bottom: 6rem;
}
.about .artist-card {
    border : 2px solid rgb(206, 202, 202);
    font-weight: 400;
     height: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #8C6A54;

}
.about .artist-card:active{
    transform: scale(0.96);
}



.about .thirdform-heading {
    text-align: center;
    margin-bottom: 25px;
}

.about .artist-card:hover {
    border:2px solid #8C6A54; /* Darken the border color on hover */
  }

  /* .about-images:hover{
    object-fit: none;
    border-radius: 44px;
} */


  /* describe yourself */

  .describe-yourself .artist-card{
    border : 1px solid rgb(206, 202, 202);
    padding : 10px 10px;
    border-radius: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.describe-yourself .artist-card:hover {
    border:1px solid #8C6A54; /* Darken the border color on hover */
    background-color: #c8b29d;
}

.describe-yourself .artist-card:active{
    transform: scale(0.96);
}

.card-icon img {
    height: 100px!important;
    border-radius: 0px 10px 10px 0px;
}

.describe-yourself h3 {
    text-align: center;
    margin-bottom: 25px;
}

.describe-yourself .artist-card .card-icon {
   /* font-size: 30px;
   padding-right: 10px; */
}

.describe-yourself .artist-card .card-body {
    padding: 15px 8px 10px 13px;
}
.describe-yourself .selected{
    border: 1px solid #8C6A54;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #c8b29dc5;
}

/*---------- Address css------------ */
.map-card-wrapper
{
    position: relative;
    margin:25px 0 30px 0;
}
.card-field
{
    position: absolute;
    top: 10%;
    z-index: 2;
   left: 20px;
    right: 20px;
    padding: 10px;
}

.autocomplete-dropdown-container {
    width: 100%;
    background-color: #ffffff;
    /* padding: 5px 5px 5px 5px; */
}


/* ======== Upload Images=========== */

.cover-image .upload-image {
    display: grid;
    justify-content: center;
    padding: 120px 120px;
    border: 1px dotted black;
}

.multipale-image-display{
    padding: 50px 50px;
    border: 1px dotted black;
    margin-bottom: 20px;
}


/* Insight [age */

.insight-wrapper .insight-card{
    display: flex;
    justify-content: space-around;
}

.plus-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #8C6A54;
    font-size: 20px;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    outline: none; /* Remove the default button outline */
  }
  
  .plus-button:hover {
    background-color: #333;
    color: #fff;
  }


  /* CompleteKYC.css */

.image-upload-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-upload {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-preview {
    position: relative;
    margin-top: 10px;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .image-preview button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    border-radius: 50%;
  }



  /* -----------------artist-progress-component-------- */
  .progress-component-action-btn
  {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    border:1px solid #dddddd;
    transition: .3s;
  }
  .progress-component-action-btn:hover
  {
    border-color: #000;
    background-color: #f7f7f7;
  }
  .progress-component-action-btn .progress-component-action-btn-icon
  {
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width: 40px;
    background: #ebebeb;
    margin-right: 20px;
    border-radius: 4px;

  }

  .progress-component-action-btn .progress-component-action-btn-icon svg
  {
    height: 30px;
    width: 30px;
  }
  .progress-component-action-btn-title
  {
    color: #000;
    font-size: 15px;
    font-weight: 600;
  }

  .showbutton-image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: '50%';
  }

  .updateImg-wrapper{
    position: relative;
    cursor: pointer;
  }

  .reset-edit-btn{
    cursor: pointer;
  }

  .updateImg-wrapper:hover .showbutton-image{
    display: flex;
  }


  /* ----------------------about-skills-ar----------------- */
  .about-skills-ar
  {
    padding: 50px 0;
  }
  .about-skills-ar img
  {
    height: 300px;
    object-fit: contain;
  }