/* -----------------------common styling---------------- */
@font-face {
  font-family:AvenirLTProBook;
  src: url('../../public/fonts/AvenirLTProBook.otf');
}
@font-face {
  font-family:AvenirLTProHeavy;
  src: url('../../public/fonts/AvenirLTProHeavy.otf');
}
@font-face {
  font-family:AvenirLTProLight;
  src: url('../../public/fonts/AvenirLTProLight.otf');
}
@font-face {
  font-family:Forum-Regular;
  src: url('../../public/fonts/Forum-Regular.ttf');
}  
  
/* 
.AvenirLTProBook{
    font-family:AvenirLTProBook;
    font-weight: 400;

  }
  .AvenirLTProHeavy
  {
    font-family:AvenirLTProHeavy;
    font-weight: 700;
  }
  .AvenirLTProLight
  {
    font-family:AvenirLTProLight;
    font-weight: 300;
  }
  
  .Forum-regular
  {
    font-family:Forum-regular;
  }
   */

  
  :focus-visible 
  {
    outline: none;
  }
  
  .usr-common-heading
  {
    font-family:Forum-regular;
    font-size: 40px;
    line-height: 60px;
    color:rgb(109,93,76);
      
  }
  .usr-common-para
  {
     
    color: #6D5D4C;
    font-family: AvenirLTProBook;
    font-size: 13px;
    letter-spacing: 1.3px;
      
  }
  .usr-common-action-btn{
    background-color: transparent!important;
    font-family: AvenirLTProLight;
    display: flex;
    padding: 12px 30px 12px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #6D5D4C;
    color: #6D5D4C;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-top: 10px;

    transition: .2s;
}
.usr-common-action-btn:hover

{
  background-color: #6D5D4C!important;
    color: #fefefe;
}
  
  .form-select:focus,.form-control:focus
  {
    box-shadow: none;
  }
  .form-control:focus
  {
    border-color: #ced4da
  }
  .resize-none{
    resize: none;

  }
  
  body{
    min-height: 100vh;
    
  }
  .new-class {
    position: sticky;
    top: 0;
}
  .artist-area
  {
    padding: 50px 0;
    background: #fcf7f2;
  }
  