/* -----------------------common styling---------------- */
@font-face {
    font-family:AvenirLTProBook;
    src: url('../../public/fonts/AvenirLTProBook.otf');
  }
  @font-face {
    font-family:AvenirLTProHeavy;
    src: url('../../public/fonts/AvenirLTProHeavy.otf');
  }
  @font-face {
    font-family:AvenirLTProLight;
    src: url('../../public/fonts/AvenirLTProLight.otf');
  }
  
  @font-face {
    font-family:Forum-regular;
    src: url('../../public/fonts/Forum-Regular.ttf');
  }
  
  .AvenirLTProBook{
    font-family:AvenirLTProBook;
  }
  .AvenirLTProHeavy
  {
    font-family:AvenirLTProHeavy;
  }
  .AvenirLTProLight
  {
    font-family:AvenirLTProLight;
  }
  
  .Forum-regular
  {
    font-family:Forum-regular;
  }
  

  
  :focus-visible 
  {
    outline: none;
  }
  
  .common-heading
  {
    font-family:Forum-regular;
    font-size: 60px;
    line-height: 60px;
    color:rgb(109,93,76);
      
  }
  .common-para
  {
     
    font-family: Metropolis-Light;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    margin: 12px 0 8px 0;
      
  }
  
  .form-select:focus,.form-control:focus
  {
    box-shadow: none;
  }
  .form-control:focus
  {
    border-color: #ced4da
  }
  .resize-none{
    resize: none;

  }
  
  body{
    min-height: 100vh;
    
  }
  .new-class {
    position: sticky;
    top: 0;
}
  .artist-area
  {
    padding: 50px 0;
    background: #fcf7f2;
  }
  